.row
  %p
  %h1 Total Crawled Web Pages: #{@crawls.count}
  %p To begin a new crawl, hit crawl.
  %p  
  .col-md-12
    %input#searchBox{ placeholder: "Search..", type: "text" }
    .panel.panel-default.panel-table
      .panel-heading
        .row
          .col.col-xs-6
            %h3.panel-title Crawls List
          .col.col-xs-6.text-right
            = link_to new_crawl_path do
              %button.btn.btn-sm.btn-primary.btn-create{:type => "button"} New Crawl
      .panel-body
        %table.tablesorter.table.table-striped.table-bordered.table-list
          %thead
            %tr
              %th.col-md-7 Crawled URL
              %th.col-md-1 Records
              %th.col-md-1 Time Taken
              %th.sorter-false.col-md-3
                %em.fa.fa-cog
          %tbody
            - @crawls.each do |crawl|
              %tr.results.data-href{'data-href'=> crawl_path(crawl)}
                %td
                  = link_to crawl.url do
                    = truncated_url(crawl.url)
                %td= crawl.num_of_records_crawled
                %td= "#{crawl.crawl_time} seconds"
                %td.sorter-false
                  = link_to crawl_path(crawl), method: :patch do
                    .btn.btn-default
                      %em.fa.fa-refresh
                      ReCrawl
                  = link_to crawl_path(crawl), method: :delete do
                    .btn.btn-danger
                      %em.fa.fa-trash
                      Delete
.text-right
  = link_to '/crawls.csv' do
    %button.btn.btn-sm.btn-primary.btn-create{:type => "button"} Download CSV File
:javascript
  crawler.table.init();
