.row
  %p
  %h1 Total Crawled Web Pages: #{@crawls.count}
  %p To begin a new crawl, hit crawl.
  %p  
  .col-md-12
    .panel.panel-default.panel-table
      .panel-heading
        .row
          .col.col-xs-6
            %h3.panel-title Crawls List
          .col.col-xs-6.text-right
            = link_to new_crawl_path do
              %button.btn.btn-sm.btn-primary.btn-create{:type => "button"} New Crawl
      .panel-body
        %table.table.table-striped.table-bordered.table-list
          %thead
            %tr
              %th.col-md-9 Crawled URL
              %th.col-md-2 No. of records fetched
              %th.col-md-2
                %em.fa.fa-cog
          %tbody
            - @crawls.each do |crawl|
              %tr.data-href{'data-href'=> crawl_path(crawl)}
                %td
                  = link_to crawl.url do
                    = truncated_url(crawl.url)
                %td= crawl.products.count
                %td
                  = link_to crawl_path(crawl), method: :delete, data: 'Are you sure?' do
                    .btn.btn-danger
                      %em.fa.fa-trash
                      Delete
:javascript
  crawler.table.init();
